# Activation du module de réécriture d'URL :
RewriteEngine on

# ROUTE LISTE DES RECETTES
# PATTERN: /recipes
# TARGET: ?recipes=index
RewriteRule ^recipes$ index.php?recipes=index [L]

# ROUTE LISTE DES CHEFS
# PATTERN: /chefs
# TARGET: ?chefs=index
RewriteRule ^chefs$ index.php?chefs=index [L]



# ROUTE LISTE DES PLAT FRANCAIS
# PATTERN: /francaise
# TARGET: ?francaise=show
RewriteRule ^francaise$ index.php?francaise=show [L]

# ROUTE LISTE DES PLAT ITALIEN
# PATTERN: /italienne
# TARGET: ?italienne=show
RewriteRule ^italienne$ index.php?italienne=show [L]

# ROUTE LISTE DES PLAT JAPONAIS
# PATTERN: /japonaise
# TARGET: ?japonaise=show
RewriteRule ^japonaise$ index.php?japonaise=show [L]

# ROUTE LISTE DES PLAT MEXICAIN
# PATTERN: /mexicaine
# TARGET: ?mexicaine=show
RewriteRule ^mexicaine$ index.php?mexicaine=show [L]

# ROUTE LISTE DES PLAT INDIEN
# PATTERN: /indienne
# TARGET: ?indienne=show
RewriteRule ^indienne$ index.php?indienne=show [L]

# ROUTE LISTE DES PLAT CHINOIS
# PATTERN: /chinoise
# TARGET: ?chinoise=show
RewriteRule ^chinoise$ index.php?chinoise=show [L]

# ROUTE LISTE DES PLAT MEDITERRANEEN
# PATTERN: /mediterraneenne
# TARGET: ?mediterraneenne=show
RewriteRule ^mediterraneenne$ index.php?mediterraneenne=show [L]

# ROUTE LISTE DES PLAT AFRICAIN
# PATTERN: /africaine
# TARGET: ?africaine=show
RewriteRule ^africaine$ index.php?africaine=show [L]

# ROUTE LISTE DES PLAT AMERICAIN
# PATTERN: /americaine
# TARGET: ?americaine=show
RewriteRule ^americaine$ index.php?americaine=show [L]

# ROUTE LISTE DES PLAT THAILANDAIS
# PATTERN: /thailandaise
# TARGET: ?thailandaise=show
RewriteRule ^thailandaise$ index.php?thailandaise=show [L]




# ROUTE LISTE DES PLATS AU POULET
# PATTERN: /poulet
# TARGET: ?poulet=show
RewriteRule ^poulet$ index.php?poulet=show [L]

# ROUTE LISTE DES PLATS AU BOEUF
# PATTERN: /boeuf
# TARGET: ?boeuf=show
RewriteRule ^boeuf$ index.php?boeuf=show [L]

# ROUTE LISTE DES PLATS AU POISSON
# PATTERN: /poisson
# TARGET: ?poisson=show
RewriteRule ^poisson$ index.php?poisson=show [L]

# ROUTE LISTE DES PLATS AU LEGUME
# PATTERN: /legumes
# TARGET: ?legumes=show
RewriteRule ^legumes$ index.php?legumes=show [L]

# ROUTE LISTE DES PLATS AU FROMAGE
# PATTERN: /fromage
# TARGET: ?fromage=show
RewriteRule ^fromage$ index.php?fromage=show [L]



# --------------------------------------------------
RewriteCond %{REQUEST_URI} !\.(js|css|jpg|gif|zip|png|pdf)$ [NC]
RewriteRule ^(.*)$ index.php [L]

