# Activation du module de réécriture d'URL :
RewriteEngine on

# ROUTE FORMULAIRE DE CONNEXION
# PATTERN: /users/login/form
# TARGET: ?users=loginForm
RewriteRule ^users\/login\/form$ index.php?users=loginForm [L]

# ROUTE DE CONNEXION
# PATTERN: /users/login/submit
# TARGET: ?users=login
RewriteRule ^users\/login\/submit$ index.php?users=login [L]



# DETAILS D UNE CATEGORIE
# PATTERN: /categories/id/
# TARGET: ?categorieId=x
RewriteRule ^categories\/([1-9][0-9]*)$ index.php?categorieId=$1 [L]

# DETAILS DES INGREDIENTS
# PATTERN: /ingredients/id/
# TARGET: ?ingredientId=x
RewriteRule ^ingredients\/([1-9][0-9]*)$ index.php?ingredientId=$1 [L]

# ROUTE LISTE DES RECETTES
# PATTERN: /recipes
# TARGET: ?recipes=index
RewriteRule ^recipes$ index.php?recipes=index [L]

# ROUTE DÉTAILS D'UNE RECETTE
# PATTERN: /recipes/{id}
# TARGET: ?recipes=show&id=x
RewriteRule ^recipes\/([1-9][0-9]*)$ index.php?recipes=show&id=$1 [L]

# ROUTE LISTE DES CHEFS
# PATTERN: /chefs
# TARGET: ?chefs=index
RewriteRule ^chefs$ index.php?chefs=index [L]

# ROUTE DÉTAILS D'UN CHEF
# PATTERN: /chefs/{id}
# TARGET: ?chefs=show&id=x
RewriteRule ^chefs\/([1-9][0-9]*)$ index.php?chefs=show&id=$1 [L]





# -------------------------------------------------
# API ENDPOINTS
# -------------------------------------------------
# LISTE DES RECIPES
# PATTERN: /api/recipes
# TARGET: ?api&recipes=index
RewriteRule ^api/recipes$ index.php?api=truc&recipes=index [L]


# --------------------------------------------------
RewriteCond %{REQUEST_URI} !\.(js|css|jpg|gif|zip|png|pdf)$ [NC]
RewriteRule ^(.*)$ index.php [L]

