# Activation du module de réécriture d'URL :
RewriteEngine on
# RewriteBase "/.../"

#--------------------------------------------------
# ROUTES
#--------------------------------------------------
# ROUTE DE LOGOUT
# PATTERN: /users/logout
# TARGET: ?users=logout
RewriteRule ^users\/logout$ index.php?users=logout [L]

# ROUTE DE CATEGORIES
# CATEGORIES.INDEX
# PATTERN: /categories
# TARGET: ?categories=index
RewriteRule ^categories$ index.php?categories=index [L]

# 
# CATEGORIES.ADD
# PATTERN: /categories.add
# TARGET: ?categories=add
RewriteRule ^categories\/add$ index.php?categories=add [L]

# 
# CATEGORIES.CREATE
# PATTERN: /categories/create
# TARGET: ?categories=create
RewriteRule ^categories\/create$ index.php?categories=create [L]


# CATEGORIES.DELETE
# PATTERN: /categories/delete/x
# TARGET: ?categories=delete&id=x
RewriteRule ^categories\/delete\/([1-9][0-9]*)$ index.php?categories=delete&id=$1 [L] 

# CATEGORIES.EDIT
# PATTERN: /categories/editForm/x
# TARGET: ?categories=editForm&id=x
RewriteRule ^categories\/editForm\/([1-9][0-9]*)$ index.php?categories=editForm&id=$1 [L]


# CATEGORIES.UPDATE
# PATTERN: /categories/edit/x
# TARGET: ?categories=edit&id=x
RewriteRule ^categories\/edit\/([1-9][0-9]*)$ index.php?categories=edit&id=$1 [L]



# ROUTE DE USERS
# USERS.INDEX
# PATTERN: /users
# TARGET: ?users=index
RewriteRule ^users$ index.php?users=index [L]

# 
# USERS.ADD
# PATTERN: /users.add
# TARGET: ?users=add
RewriteRule ^users\/add$ index.php?users=add [L]

# 
# USERS.CREATE
# PATTERN: /users/create
# TARGET: ?users=create
RewriteRule ^users\/create$ index.php?users=create [L]


# USERS.DELETE
# PATTERN: /users/delete/x
# TARGET: ?users=delete&id=x
RewriteRule ^users\/delete\/([1-9][0-9]*)$ index.php?users=delete&id=$1 [L] 

# USERS.EDIT
# PATTERN: /users/editForm/x
# TARGET: ?users=editForm&id=x
RewriteRule ^users\/editForm\/([1-9][0-9]*)$ index.php?users=editForm&id=$1 [L]


# USERS.UPDATE
# PATTERN: /users/edit/x
# TARGET: ?users=edit&id=x
RewriteRule ^users\/edit\/([1-9][0-9]*)$ index.php?users=edit&id=$1 [L]



# --------------------------------------------------
RewriteCond %{REQUEST_URI} !\.(js|css|jpg|gif|zip|png|pdf)$ [NC]
RewriteRule ^(.*)$ index.php [L]